header{
    background-color: white;
    height: 70px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #CCCCCC
}
.logo{
    content: url(../img/logo.png);
    margin-left: 20px;
    vertical-align: middle;
}
